<launch>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" args="scan:=scan">
    <rosparam>
      base_frame: base_footprint
      map_update_interval: 5.0
      odom_frame: odom
      delta: 0.1
      particles: 6
      maxRange: 18.0
      maxURange: 6.0
      throttle_scans: 3
    </rosparam>
  </node>
</launch>